body{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace
}

#center{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title{
    color: whitesmoke;
    text-align: center;
    margin-bottom: -10px;
}

#menu{
    text-align: center;
}

h1{
    font-size: 35px;
}

button{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    border-style: none;
    background-color: transparent;
    width:fit-content;
    font-size: 15px;

}

button:hover{
    border-bottom: 1px;
    border-style: none none solid none;
    border-color: whitesmoke;
}